aside {
	background-color: #F7F9F4;
	max-width: 50vw;
	width: 100%;
}

aside header {
	display: flex;
	justify-content: center;
}

aside main,
.feelterAdvantageCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.carouselContaner {
	max-width: 400px;
	background: rgba(255, 255, 255, 1);
	border-radius: 15px;
	box-shadow: 0px 2px 30px 0px rgb(194 200 205 / 25%);
}

.feelterAdvantage {
	max-width: 608px;
	max-height: 340px;
}

.formContainer {
	max-width: 450px;
	width: 100%;
	margin-left: 340px;
	margin-right: 100px;
}