.localOrg {
	display: flex;
}

.headerClientProps {
	display: flex;
	height: min-content;
}

.iconContainer {
	display: flex;
	align-items: center;
}

.iconContainer > img {
	padding-right: .5rem;
}

main {
	display: flex;
}

main > main {
	flex-direction: column;
	width: 100%;
}

main > main > section {
	width: inherit;
	background-color: #F9F9F9;
}

main > main > section > div {
	width: 50%;
	padding-left: 3rem;
}

nav {
	padding-top: 2.5rem;
}

.homeSectionHeader {
	padding: 1.4rem 0 1.4rem 1rem;
}

.homeSectionHeader > a {
	padding: 1.4rem 2rem;
	cursor: pointer;
	color: rgba(132, 137, 147, 1);
}

.homeHeader {
	border-bottom: 1px solid #e2e2ea;
	padding: 1.25rem 1.4rem;
}

.homeHeader > a > img {
	max-width: 116px;
}

.reccomAction {
	border: 1px solid rgba(228, 230, 239, 1);
	padding: 1.5rem;
	margin-top: 1.5rem;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
}

.reccomAction > .reccomActionHeader > h3 {
	margin: 0;
}

.reccomActionFooter {
	padding-top: 1.5rem;
	border-top: 1px solid #E4E6EF;
	border-radius: 10px;
}

.reccomActionFooter > button {
	cursor: pointer;
	background-color: rgba(56, 166, 64, 1);
	color: rgba(255, 255, 255, 1);
	border: none;
	padding: 0.4rem 1rem;
	font-size: 0.87rem;
}

.headContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

section > .addSocial {
	padding: 0;
}

.addSocial > .imgCont {

	background-color: #FBFBFB;
}

.addSocial > .imgCont > img {
	max-width: 70%;
	height: auto;
}