.slick-slider {
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 30px rgba(194, 200, 205, 0.25);
}

.prevArrow {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(56, 166, 64, 1);
	padding: 10px 13px;
	font-size: 1rem;
	border-radius: 50%;
	color: rgba(56, 166, 64, 1);
	transform: translateX(-20px);
}

.nextArrow {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(56, 166, 64, 1);
    padding: 10px 13px;
    font-size: 1rem;
    border-radius: 50%;
    color: rgba(56, 166, 64, 1);
	transform: translateX(25px);
}

.carouselProd {
	display: flex !important;
	padding-top: 2rem;
	transform: translateX(1px);
}

.carouselProdTextCont {
	padding-left: 1.5rem;
	padding-bottom: 2.5rem;
}

.carouselProdTextCont > h4 {
	margin: 0;
}

.carouselProdTextCont > .carouselProdPosition {
	margin: 0;
	padding-top: .5rem;
	font-size: 1.2rem;
}

.carouselProdPic {
	border-radius: 15px;
}


@media screen and (max-width: 1000px) {
	.carouselProd {
		flex-direction: column;
	}

	.carouselProdTextCont {
		padding-left: 0;
		padding-top: 1rem;
	}
}