.fullNameInputCont {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.svgOrgContainer {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	grid-gap: 1rem;
	margin: 1rem 0;
}

.svgOrg  {
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.7rem;
	border: 1px solid #E4E6EF;
}

/* .svgOrg:last-child {
	margin: unset;
} */

.orLine {
	display: flex;
	font-size: 18px;
}

.orLine::before, 
.orLine::after {
	content: '';
	position: relative;
	flex: 1;
	border-bottom: 1px solid #E4E6EF;
	margin: auto 0.25em;
	padding-top: 4px;
} 

input {
	padding: 12px;
	border: 1px solid #E4E6EF;
}

label {
	font-size: 14px;
	color: rgba(50, 59, 75, 1);
}

input[type=submit] {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: rgba(56, 166, 64, 1);
	border: none;
	border-radius: 1px;
	color: rgba(255, 255, 255, 1);
	margin-top: 1.5rem;
}

.productCategorCheckboxes {
	display: flex;
	flex-wrap: wrap;
}
.checkboxCont {
	width: 32%;
}
.checkboxCont:last-child {
	width: 200px;
}

input[type=checkbox] + label {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}
  
input[type=checkbox] {
	display: none;
}
  
input[type=checkbox] + label:before {
	content: "✔";
	border: 0.1em solid rgba(56, 166, 64, 1);
	border-radius: 0.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding-left: 0.3em;
	padding-bottom: 0.3em;
	margin-right: 0.5em;
	vertical-align: bottom;
	color: transparent;
	transition: .2s;
}
  
input[type=checkbox] + label:active:before {
	transform: scale(0);
}
  
input[type=checkbox]:checked + label:before {
	color: rgba(56, 166, 64, 1);
	transform: scale(1);

}
  
input[type=checkbox]:disabled + label:before {
	transform: scale(1);
	border-color: #aaa;
}
  
input[type=checkbox]:checked:disabled + label:before {
	transform: scale(1);
	background-color: #bfb;
	border-color: #bfb;
}

.labelSign {
	padding-right: .2rem;
}

.haveAccSign {
	display: flex;
    justify-content: center;
	font-weight: 700;
	padding-top: 1.5rem;
}

.haveAccSign > a {
	font-size: 16px;
	color: rgba(56, 166, 64, 1);
	text-decoration: none;
	padding-left: .5rem;
}


@media screen and (max-width: 1000px) {
	.svgOrgContainer {
		grid-template-areas: 
		"googleSign googleSign wordpressSign wordpressSign facebookSign facebookSign"
		"linkdinSign linkdinSign linkdinSign twitterSign twitterSign twitterSign";
		grid-template-columns: auto;
	}

	.gridSign1 {
		grid-area: googleSign;
	}

	.gridSign2 {
		grid-area: wordpressSign;
	}

	.gridSign3 {
		grid-area: facebookSign;
	}

	.gridSign4 {
		grid-area: linkdinSign;
	}

	.gridSign5 {
		grid-area: twitterSign;
	}
}